.cusScroll::-webkit-scrollbar {
  margin-top: 20px;
  height: 8px;
  background: #272829;
}

.cusScroll::-webkit-scrollbar-thumb {
  background: #ff0000;
  -webkit-border-radius: 5px;
  margin-top: 15px;
}

::-webkit-scrollbar-corner {
  background: #272829;
}
.cusScroll {
  scrollbar-track-color: #ff0000;
  scrollbar-width: 10px;
  scrollbar-arrow-color: #ff0000;
  scrollbar-face-color: #ff0000;
  
}
